<div id="header">
  <div class="containerLogo">
    <div aria-label="Logo uniVHSp" role="img" class="logo">
      <image
        src="./../../assets/images/resources/logo.png"
        width="40"
        height="40"
        alt="Logo uniVHSp"
      />
    </div>
    <p class="logoText">uniVHSp</p>
  </div>
  <div>
    <div id="hamburger">
      <div class="line_1"></div>
      <div class="line_2"></div>
      <div class="line_3"></div>
    </div>
  </div>
  <div id="hideMenu">
    <nav id="menu">
      <ul id="listLinks">
        <li id="menuFirstLine"><a href="./../../index.html">Início</a></li>
      </ul>
    </nav>
  </div>
</div>
