:root {
    --defaultBlue: #149BFC;
    --blue: #0078F0;
    --white: #FFF;
    --darkGray: #212121;
    --blackOpacityFifty: rgba(0, 0, 0, .5);
    --blackOpacityTwentyFive: rgba(0, 0, 0, .5);
}
#header-container {position: fixed; width: 100%;}
#header {background-color: var(--defaultBlue); padding: 25px; display: flex; align-items: center; justify-content: space-between; gap: 50px; position: relative;}
#header .containerLogo {display: flex; align-items: center; justify-content: center; gap: 10px;}
#header .containerLogo .logo {max-width: 40px; width: 100%; height: fit-content; max-height: 40px;}
#header .containerLogo .logoText {font-size: 25px; font-weight: bold; text-align: left; color: var(--white);}
#header > div:nth-child(2) {max-width: fit-content; width: 100%;}
#header > div:nth-child(2) #hamburger {position: relative; width: 30px; padding: 10px; z-index: 10;}
#header > div:nth-child(2) #hamburger .line_1,
#header > div:nth-child(2) #hamburger .line_2,
#header > div:nth-child(2) #hamburger .line_3 {
        width: 30px;
        height: 3px;
        background-color: var(--white);
        border-radius: 8px;
    }
#hamburger .line_2 {content: ''; position: absolute; top: 0; transition: all .3s ease;}
#hamburger .line_3 {content: ''; position: absolute; bottom: 0; transition: all .3s ease;}
#hamburger.open .line_1 {width: 0; opacity: 0;}
#hamburger.open .line_2 {transform: rotate(45deg); top: 10px; transition: all .3s ease;}
#hamburger.open .line_3 {transform: rotate(-45deg); bottom: 10px; transition: all .3s ease;}

#header #hideMenu {width: 0; opacity: 0; position: fixed; top: 0; right: -350px; transition: all .4s ease;}
#header #hideMenu #menu {width: 100%; max-width: 100%; background-color: var(--defaultBlue); padding: 50px; height: 100vh;}
#header #hideMenu #menu ul,
#header #hideMenu #menu ul li {list-style: none;}
#header #hideMenu #menu ul li + li {margin-top: 20px;}
#header #hideMenu #menu ul li a {color: var(--white); font-weight: bold; text-transform: uppercase; letter-spacing: 1.5; font-size: 16px; text-decoration: none; transition: all .4s ease-in;}
#header #hideMenu #menu ul li a:hover {text-decoration: underline; color: #fefefe; transform: scale(1.1); transition: all .4s ease-out;}
#header #hideMenu.open {width: 250px; right: 0; opacity: 1; transition: all .4s ease;}