:root {
    --DefaultBlue: #149BFC;
    --blue: #0078F0;
    --white: #FFF;
    --darkGray: #212121;
    --blackOpacityFifty: rgba(0, 0, 0, .5);
    --blackOpacityTwentyFive: rgba(0, 0, 0, .5);
}

#consultaCliente { min-height: 100vh; width: 100%; max-width: 100%; background: linear-gradient(180deg, rgba(20, 155, 252, 1) 0%, rgba(0, 120, 240, 1) 100%); display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 50px;}
#consultaCliente h1 {font-size: 45px; text-align: center; text-transform: uppercase; color: var(--white); font-weight: bold;}
#consultaCliente #exibeClientes {padding: 50px; border-radius: 20px; background-color: var(--white); max-width: 800px; width: 100%; margin: 0 auto;}
#consultaCliente #exibeClientes .boxInput {width: 100%; max-width: 100%; display: flex; align-items: center; justify-content: space-between; gap: 15px;}
#consultaCliente #exibeClientes .inputName {border-radius: 8px; padding: 8px 15px; width: calc(100% - 30px); max-width: calc(100% - 30px); text-align: left; font-size: 12px; color: var(--darkGray); border: 1px solid var(--blackOpacityTwentyFive);}
#consultaCliente #exibeClientes .inputName::placeholder {color: var(--blackOpacityFifty);}
#consultaCliente #exibeClientes .inputName:focus {border: 1px solid var(--darkGray); color: var(--darkGray);}
#consultaCliente #exibeClientes .defaultBtn {width: fit-content; height: 32px; padding: 15px; margin-left: 15px; display: inline-flex; align-items: center;}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  table th {
    background-color: rgba(255, 152, 0);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    max-width: 100px;
  }

  table tr:nth-child(even) td {
    background-color: #f2f2f2;
  }
  
  table tr:hover td {
    background-color: rgb(70, 187, 255);
  }

  table td {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    word-wrap: break-word;
    vertical-align: middle;
    max-width: 300px; 
  }

  #headerNome {
    width: 40%;
  }

  #headerIdade {
    width: 9%;
  }

  #headerEndereco {
    width: 45%;
  }

  #headerEdit,
  #headerRemove {width: 8%;}

  .button {max-width: 16px; width: 100%; display: block;}